// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. 

.container-tab
    ul.nav.nav-tabs(role="tablist")
        li(role="presentation" class=(!viewData.oldAlert && !viewData.webhook && !viewData.secureScoreProfiles && !viewData.securityActions ? 'active' : ''))
            a(href="#alert-metadata" aria-controls="alert-metadata" role="tab" data-toggle="tab") Alert details
        li(role="presentation")
            a(href="#user-device-metadata" aria-controls="user-device-metadata" role="tab" data-toggle="tab") User &amp; device details
        if viewData.oldAlert 
            li(role="presentation" class=(viewData.oldAlert ? 'active' : ''))
                a(href="#update-alert-results" aria-controls="update-alert-results" role="tab" data-toggle="tab") Alert management
        if viewData.webhook 
            li(role="presentation" class=(viewData.webhook ? 'active' : ''))
                a(href="#subscription-results" aria-controls="subscription-results" role="tab" data-toggle="tab") Subscription details
        if viewData.secureScoreProfiles 
            li(role="presentation" class=(viewData.secureScoreProfiles ? 'active' : ''))
                a(href="#control-profile-results" aria-controls="control-profile-results" role="tab" data-toggle="tab") Control Scores
        if viewData.securityActions 
            li(role="presentation" class=(viewData.securityActions ? 'active' : ''))
                a(href="#action-results" aria-controls="action-results" role="tab" data-toggle="tab") Security Actions

    .tab-content
        .tab-pane.fade.in(role="tabpanel" id="alert-metadata" class=(!viewData.oldAlert && !viewData.webhook && !viewData.secureScoreProfiles && !viewData.securityActions ? 'active' : ''))
            if !viewData.sdkQuery && !viewData.restQuery 
                span No alert selected
            else 
                p SDK query: #{viewData.sdkQuery}
                p REST query: 
                    if viewData.restQuery 
                        | GET 
                        - var url = "https://developer.microsoft.com/en-us/graph/graph-explorer?request=" + viewData.restQuery + "&method=GET&version=" + viewData.apiVersion + "&GraphUrl=https://graph.microsoft.com"
                        a(href=url)=viewData.restUrl + viewData.restQuery
                    else if viewData.postRestQuery
                        if viewData.postRestQuery.method
                            | #{viewData.postRestQuery.method} 
                        else 
                            | PATCH 
                        | #{viewData.restUrl + viewData.postRestQuery.query}
                        p body : #{JSON.stringify(viewData.postRestQuery.body, null, 4)}
                if viewData.alertErr
                    p=viewData.alertErr
                if viewData.alert
                    pre=JSON.stringify(viewData.alert, null, 4)

        .tab-pane.fade.in(role="tabpanel" id="user-device-metadata")
            if viewData.alert && viewData.alertUserState 
                .row
                    .col-md-2.profile-picture
                        if viewData.alertUserPhoto                            
                            //- + viewData.alertUserPhoto.toString('base64')
                            img(src=("data:image/png;base64," + viewData.alertUserPhoto) width='100' height='100')
                        else
                            p No photo available
                    .col-md-9.user-info
                        if viewData.alertUserState
                            h3=viewData.alertUserState.displayName
                            h3=viewData.alertUserState.mail ? viewData.alertUserState.mail : viewData.alertUserState.userPrincipalName
                
                div
                    span Job tile: #{viewData.alertUserState.jobTitle ? viewData.alertUserState.jobTitle : 'No data'}
                div
                    span Manager: #{viewData.alertUserManager ?  viewData.alertUserManager.displayName : 'No data'}
                div
                    span Contact via: #{viewData.alertUserState.businessPhones ? viewData.alertUserState.businessPhones[0] : 'No data'}
                div
                    span Office location: #{viewData.alertUserState.officeLocation ? viewData.alertUserState.officeLocation : 'No data'}
                div
                    span Email: #{viewData.alertUserState.mail ? viewData.alertUserState.mail : viewData.alertUserState.userPrincipalName}

                if viewData.UserOwnedDevices
                    hr
                    p User Owned Devices:
                    pre=JSON.stringify(viewData.UserOwnedDevices, null, 4)
                if viewData.UserRegisteredDevices
                    hr
                    p User Registered Devices:
                    pre=JSON.stringify(viewData.UserRegisteredDevices, null, 4)





                if viewData.alert && viewData.alert.hostStates[0]
                    - var host = viewData.alert.hostStates[0]
                    .container-fluid.devices-details
                        hr
                        if host.fqdn
                            .row
                                .col-md-2
                                    img.center-block(src="laptop_icon.png" style="margin: 8px")
                                .col-md-10
                                    h3=host.fqdn
                        div
                            div
                                span Azure AD joined: 
                                span=(host.IsAzureDomainJoined ? host.IsAzureDomainJoined : "No data" )
                            div
                                span Public IP Address (at alert): 
                                span=(host.publicIpAddress ? host.publicIpAddress : "No data" )
                            div
                                span Private IP Address (at alert): 
                                span=(host.privateIpAddress ? host.privateIpAddress : "No data" )
            else 
                p No data found






        .tab-pane.fade.in(role="tabpanel" id="update-alert-results" class=(viewData.oldAlert ? 'active' : ''))
            if !viewData.oldAlert
                p No data found 
            else 
                p SDK query: #{viewData.sdkQuery}
                p REST query: 
                    if viewData.restQuery 
                        | GET 
                        - var url = "https://developer.microsoft.com/en-us/graph/graph-explorer?request=" + viewData.restQuery + "&method=GET&version=" + viewData.apiVersion + "&GraphUrl=https://graph.microsoft.com"
                        a(href=url)=viewData.restUrl + viewData.restQuery
                    else 
                        | PATCH 
                        | #{viewData.restUrl + viewData.postRestQuery.query}
                        p body : #{JSON.stringify(viewData.postRestQuery.body, null, 4)}
                if viewData.oldAlert 
                    br
                    h3 Original alert details
                    table.table.table-striped.alert-details(cellpadding="10")
                        thead
                            tr
                                th Property 
                                th Details
                        tbody
                            tr
                                td Title
                                td=viewData.oldAlert.title
                            tr
                                td Category
                                td=viewData.oldAlert.category

                            tr
                                td Severity
                                td=viewData.oldAlert.severity
                            tr
                                td Status
                                td=viewData.oldAlert.status
                            tr
                                td Feedback
                                td=viewData.oldAlert.feedback
                            tr
                                td Provider
                                td=(viewData.oldAlert.vendorInformation ? viewData.oldAlert.vendorInformation.provider : "")
                            tr
                                td Assigned To
                                td=viewData.oldAlert.assignedTo
                            tr
                                td Comments
                                td [#{viewData.oldAlert.comments}]
                if viewData.alert 
                    hr
                    br
                    h3 Updated alert details
                    table.table.table-striped.alert-details(cellpadding="10")
                        thead
                            tr
                                th Property 
                                th Details
                        tbody
                            tr
                                td Title
                                td=viewData.alert.title
                            tr
                                td Category
                                td=viewData.alert.category

                            tr
                                td Severity
                                td=viewData.alert.severity
                            tr
                                td Status
                                td=viewData.alert.status
                            tr
                                td Feedback
                                td=viewData.alert.feedback
                            tr
                                td Provider
                                td=(viewData.alert.vendorInformation ? viewData.alert.vendorInformation.provider : "")
                            tr
                                td Assigned To
                                td=viewData.alert.assignedTo
                            tr
                                td Comments
                                td [#{viewData.alert.comments}]

        .tab-pane.fade.in(role="tabpanel" id="subscription-results" class=(viewData.webhook ? 'active' : ''))
            if !viewData.webhook
                p No data found 
            else 
                if 'POST' in viewData.webhook
                    p Webhook subscription created:

                p <b>SDK query:</b> #{viewData.sdkQuery}
                p <b>REST query:</b> 
                    if viewData.restQuery 
                        | GET 
                        - var url = "https://developer.microsoft.com/en-us/graph/graph-explorer?request=" + viewData.restQuery + "&method=GET&version=" + viewData.apiVersion + "&GraphUrl=https://graph.microsoft.com"
                        a(href=url)=viewData.restUrl + viewData.restQuery
                    else 
                        | POST 
                        | #{viewData.restUrl + viewData.postRestQuery.query}
                        p body : 
                        pre #{JSON.stringify(viewData.postRestQuery.body, null, 2)}
                if 'GET' in viewData.webhook
                    - var subscriptions  = viewData.webhook.GET.value
                    if subscriptions.length === 0
                        p No subscriptions found 
                    else 
                        h3 Subscription details
                        each sub in subscriptions
                            table.table.table-striped.alert-details(cellpadding="10")
                                thead
                                    tr
                                        th Property 
                                        th Details
                                tbody
                                    each val, prop in sub                                
                                        tr
                                            td=prop
                                            td=val
                if 'POST' in viewData.webhook
                    - var subscriptions  = viewData.webhook.POST
                    if subscriptions.length === 0
                        p No subscriptions found 
                    else 
                        h3 Subscription details
                        table.table.table-striped.alert-details(cellpadding="10")
                            thead
                                tr
                                    th Property 
                                    th Details
                            tbody
                                each val, prop in subscriptions
                                    tr
                                        td=prop
                                        td=val

        .tab-pane.fade.in(role="tabpanel" id="control-profile-results" class=(viewData.secureScoreProfiles ? 'active' : ''))
            if !viewData.secureScoreProfiles
                p No data found 
            else 
                p <b>SDK query:</b> #{viewData.sdkQuery}
                p <b>REST query:</b> 
                    if viewData.restQuery 
                        | GET 
                        - var url = "https://developer.microsoft.com/en-us/graph/graph-explorer?request=" + viewData.restQuery + "&method=GET&version=" + viewData.apiVersion + "&GraphUrl=https://graph.microsoft.com"
                        a(href=url)=viewData.restUrl + viewData.restQuery 
                    else 
                        | POST 
                        | #{viewData.restUrl + viewData.postRestQuery.query}
                        p body : 
                        pre #{JSON.stringify(viewData.postRestQuery.body, null, 2)}
                .container-fluid
                    h3 Secure Score Control Profiles
                    p Drill down into the Secure Score Control Profiles and monitor corrective actions. 
                    hr
                    .table-responsive.rounded
                        table.table.table-hover
                            thead.thead-light
                                tr
                                    th Control
                                    th Rank
                                    th Title
                                    th Max Scores
                                    th User Impact
                                    th Implementation Cost
                            tbody
                                each profile in viewData.secureScoreProfiles.value
                                        tr(data-toggle="collapse" data-target="#profile" + profile.id)
                                            td #{profile.id}
                                            td #{profile.rank}
                                            td #{profile.title}
                                            td #{profile.maxScore}
                                            td #{profile.userImpact}
                                            td #{profile.implementationCost}
                                        tr.collapse(id="profile" + profile.id)
                                            td(colspan='6' margin="0px") 
                                                pre #{JSON.stringify(profile, null, 2)}
                button.btn.btn-primary(data-toggle="collapse" data-target="#RawJson1")
                    b Show JSON Response

                .collapse#RawJson1    
                    .panel-body 
                        pre #{JSON.stringify(viewData.secureScoreProfiles, null, 2)}

        .tab-pane.fade.in(role="tabpanel" id="action-results" class=(viewData.securityActions ? 'active' : ''))
            if !viewData.securityActions
                p No data found 
            else 
                if 'POST' in viewData.securityActions
                    h3 Security Action Created
                    b API request: 

                p <b>SDK query:</b> #{viewData.sdkQuery}
                p <b>REST query:</b> 
                    if viewData.restQuery 
                        | GET 
                        - var url = "https://developer.microsoft.com/en-us/graph/graph-explorer?request=" + viewData.restQuery + "&method=GET&version=" + viewData.apiVersion + "&GraphUrl=https://graph.microsoft.com"
                        a(href=url)=viewData.restUrl + viewData.restQuery
                    else 
                        | POST 
                        | #{viewData.restUrl + viewData.postRestQuery.query}
                        br
                        p 
                            b body : 
                            pre #{JSON.stringify(viewData.postRestQuery.body, null, 2)}
                if 'GET' in viewData.securityActions
                    - var actions  = viewData.securityActions.GET
                    if actions.length === 0
                        p No actions found 
                    else 
                        h3 Security Action details
                        .table-responsive.rounded
                            table.table.table-hover.table-striped(cellpadding="10")
                                thead
                                    tr
                                        th Action Id 
                                        th Status
                                        th Action Name
                                tbody
                                    each item in actions
                                        tr(data-toggle="collapse" data-target="#" + item.id)
                                            td= item.id
                                            td= item.status
                                            td= item.name

                                        tr.collapse(id= item.id)
                                            td(colspan='3' margin="0px")
                                                pre #{JSON.stringify(item, null, 2)}

                if 'POST' in viewData.securityActions
                    - var actions  = viewData.securityActions.POST
                    if actions.length === 0
                        p No actions found 
                    else 
                        .table-responsive.rounded
                            table.table.table-striped.alert-details(cellpadding="10")
                                tbody
                                    each val, prop in actions
                                        tr
                                            td 
                                                b API Response: 
                                                pre= JSON.stringify(val, null, 2)

                

               
                            